.body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

h3 {
  margin-bottom: 20px;
  margin-top: 0;
}
.react-autosuggest__container {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

.react-autosuggest__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #61dafb;
  border-radius: 4px;
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid #61dafb;
  background-color: #ffffff;
  z-index: 2;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion-thumbnail {
  width: 50%; /* Ajustez la largeur de l'image selon vos besoins */
  height: auto;
  margin-right: 10px;
}

.suggestion-details {
  flex-grow: 1;
}

.suggestion-make {
  font-weight: bold;
}

.suggestion-model,
.suggestion-version {
  color: #555;
}

/* Nouveaux styles pour le texte dans les suggestions */
.react-autosuggest__suggestion {
  list-style-type: none; /* Supprime le point devant chaque suggestion */
  color: black; /* Couleur du texte */
}

h2 {
  color: #61dafb;
  margin-bottom: 10px;
}

p {
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
}

.containerTout {
  display: flex;
  flex-direction: row; /* Correction de la propriété */
  height: 100%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#getDestination {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #4caf50; /* Couleur de la bordure */
  border-radius: 5px; /* Coins arrondis */
  color: #4caf50; /* Couleur du texte */
  background-color: white; /* Couleur de fond */
  transition: background-color 0.3s, color 0.3s;
}
#getDestination:hover {
  background-color: #4caf50; /* Changement de couleur au survol */
  color: white; /* Changement de couleur du texte au survol */
}

.totalTemps {
  font-size: 20;
}
.totalTempsContainer {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.totalTempsLabel {
  display: inline-block;
  margin-right: 10px;
}

.totalTemps {
  display: inline-block;
}

.hours,
.minutes {
  font-weight: bold;
}

.separator {
  margin-right: 5px;
  margin-left: 5px;
}
